<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Chirp"]</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
</head>
<body>
<div class=page>
    <h1>
        <a href="/"><img src="/images/icon1.png" alt="Icon1"/></a>Chirp!
    </h1>
    
    <nav style="display: flex; justify-content: space-between; align-items: center; padding: 0 1rem; background-color: #f0f0f0;">
        <div>
            <a class="navigation_button" href="/" style="color: #333333;">Public Timeline</a>
            |
            @if (User.Identity.IsAuthenticated && User.Identity != null)
            {
                <a class="navigation_button" href="/user/@(User.Identity.Name)" style="color: #333333;">My timeline</a>    
                <a>|</a>
                <a class="navigation_button" href="/Identity/Account/Logout" style="color: #333333;">Logout [@(User.Identity.Name)]</a>
            }
            else
            {
                <a class="navigation_button" href="/Identity/Account/Register" style="color: #333333;">Register</a>
                <a>|</a>
                <a class="navigation_button" href="/Identity/Account/Login" style="color: #333333;">Login</a>        
            }
        </div>
    </nav>
    
    @await RenderSectionAsync("Scripts", required: false)
    <div class=body>
        @RenderBody()
    </div>
    <div class=footer>
        Chirp &mdash; An ASP.NET Application
    </div>
</div>

</body>
</html>