@using Microsoft.AspNetCore.Identity
@using Chirp.Infrastructure
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
</head>
<body>
<div class=page>
    
    <h1><a href="/" style="text-decoration: none; color: inherit;"><img src="/images/icon1.png" alt="Icon1"/>Chirp!</a></h1>

    <div class="login-container" style="text-align: right; margin-bottom: 20px;">
        <ul style="list-style-type: none; margin: 0; padding: 0; display: inline-flex; gap: 15px;">
        @if (SignInManager.IsSignedIn(User))
        {
            <li style="display: inline;">
                <form id="logoutForm" style="display: inline; margin: 0;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Public", new { area = "" })">
                    <button id="logout" type="submit" style="padding: 0; border: none; background: none; cursor: pointer; color: inherit; text-decoration: underline;">Logout [@UserManager.GetUserName(User)]</button>
                </form>
            </li>
        }
        else
        {
            <li style="display: inline;">
                <a style="text-decoration: none; color: inherit;" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li style="display: inline;">
                <a style="text-decoration: none; color: inherit;" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
        </ul>
    </div>

    <div class=body>
            @RenderBody()
    </div>
    <div class=footer>
        Chirp &mdash; An ASP.NET Application
    </div>
</div>

</body>
@await RenderSectionAsync("Scripts", required: false)
</html>